@font-face {
    font-family: inter-regular;
    src: url("../fonts/inter/static/Inter-Regular.ttf");
}
* {
    font-family: inter-regular;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    background-color: rgb(49, 48, 49);
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    white-space: nowrap;
}
#nav {
    width: 100%;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    gap: 1rem;
    list-style: none;
    display: flex;
}

a {
    color: rgb(34, 178, 245);
    text-decoration: none;
}

a:hover {
    color: rgb(157, 222, 252);
    cursor: pointer;
}

a.active {
    color: rgb(157, 222, 252);
}

#search input[type="text"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#search .search_type {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#search .submit_search {
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(129, 168, 247);
    border: none;
    border-radius: 5px;
}

#search .searchable {
    background-color: rgb(23, 100, 255);
}

#search .searchable:hover {
    background-color: rgb(1, 61, 180);
    cursor: pointer;
}

main {
    width: 800px;
    background-color: aliceblue;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.error {
    color: red;
}

.p-1 {
    padding: 1rem;
}

@media (max-width: 1000px) {
    main {
        width: 90%;
    }
    header {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #nav {
        flex-direction: column;
        justify-content: center;
    }
}
